<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>4</ApplicationRevision>
    <ApplicationVersion>1.0.1.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Simple Calculator</ProductName>
    <PublishDir>bin\Release\net6.0-windows\win-x86\app.publish\</PublishDir>
    <PublishUrl>D:\Sync\C# code\PROJECTS\Calculator\Output Publish Once\</PublishUrl>
    <PublisherName>Simple Calculator</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <SuiteName>Simple Calculator</SuiteName>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UseApplicationTrust>True</UseApplicationTrust>
    <WebPageFileName>Publish.html</WebPageFileName>
    <UpdateUrl>https://drive.google.com/drive/folders/1moxJqQEL8O8J_nL89BX57iMl_1aJaGsg?usp=sharing/</UpdateUrl>
    <History>True|2025-02-18T18:24:29.1802493Z||;True|2025-02-18T23:21:27.9926670+05:00||;True|2025-02-18T23:15:14.8997597+05:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x86">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 6.0.36 (x86)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
  <ItemGroup>
    <PublishFile Include="icon.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>